.destination-page {
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-page__heading {
    color: var(--white-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
}

.destination-page__image {
    width: 100%;
}

.destination-page__btn-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px;
}

.destination-page__btn {
    background: transparent;
    border: none;
    color: var(--light-color);
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.236rem;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.destination-page__btn:hover {
    border-bottom: 3px solid rgba(255, 255, 255, .5);
}

.destination-page__btn--active {
    border-bottom: 3px solid var(--white-color);
    color: var(--white-color);
}

.destination-page__name {
    color: var(--white-color);
    font-size: 5.6rem;
}

.destination-page__description {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.destination-page__info {
    color: var(--white-color);
    font-size: 2.8rem;
}

@media screen and (min-width: 800px) {
    .destination-page {
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
    }

    .destination-page__heading {
        font-size: 2rem;
        letter-spacing: 0.338rem;
    }

    .destination-page__name {
        font-size: 8rem;
    }

    .destination-page__description {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
}

@media screen and (min-width: 1280px) {
    .destination-page {
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
    }

    .destination-page__heading {
        font-size: 2.8rem;
        letter-spacing: 0.472rem;
    }

    .destination-page__name {
        font-size: 10rem;
    }

    .destination-page__description {
        font-size: 1.9rem;
        line-height: 3.2rem;
    }
}