.destination-page {
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.destination-page__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.destination-page__heading {
    color: var(--white-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 0.27rem;
    margin: 1rem 0 3rem 0;
    text-transform: uppercase;
}

.destination-page__heading span {
    font-weight: bold;
    margin-right: 1rem;
    opacity: 0.3;
}

.destination-page__image-container {
    height: 17rem;
    margin-bottom: 1.5rem;
    width: 17rem;
}

.destination-page__image {
    width: 100%;
}

.destination-page__btn-container {
    align-items: flex-start;
    display: flex;
    margin: 1rem 2rem 2rem;
}

.destination-page__btn {
    background: transparent;
    border: none;
    color: var(--light-color);
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.236rem;
    margin-left: 2rem;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.destination-page__btn:hover {
    border-bottom: 3px solid rgba(255, 255, 255, .5);
}

.destination-page__btn--active {
    border-bottom: 3px solid var(--white-color);
    color: var(--white-color);
}

.destination-page__name {
    color: var(--white-color);
    font-size: 5.6rem;
    font-weight: normal;
    text-transform: uppercase;
}

.destination-page__description {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 5rem 3rem;
    text-align: center;
}

.destination-page__description::after {
    background-color: var(--light-color);
    content: "";
    display: block;
    height: 0.1px;
    margin-top: 3rem;
    opacity: 0.3;
    width: 100%;
}

.destination-page__info-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.destination-page__info-container:last-child {
    margin: 3rem 0 6rem;
}

.destination-page__info-text {
    color: var(--light-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.destination-page__info {
    color: var(--white-color);
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 800px) {
    .destination-page {
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
    }

    .destination-page__heading {
        font-size: 2rem;
        letter-spacing: 0.338rem;
    }

    .destination-page__name {
        font-size: 8rem;
    }

    .destination-page__description {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
}

@media screen and (min-width: 1280px) {
    .destination-page {
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
    }

    .destination-page__heading {
        font-size: 2.8rem;
        letter-spacing: 0.472rem;
    }

    .destination-page__name {
        font-size: 10rem;
    }

    .destination-page__description {
        font-size: 1.9rem;
        line-height: 3.2rem;
    }
}