.home-page {
    background-image: url(../../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page h2 {
    color: var(--light-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
}

.home-page h1 {
    color: var(--white-color);
    font-size: 8rem;
    line-height: 100px;
}

.home-page p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 25px;
}

.home-page button {
    background-color: var(--white-color);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

@media screen and (min-width: 800px) {
    .home-page {
        background-image: url(../../assets/home/background-home-tablet.jpg);
    }

    .home-page h2 {
        font-size: 2rem;
        letter-spacing: 3.38px;
    }

    .home-page h1 {
        font-size: 15rem;
        line-height: 150px;
    }

    .home-page p {
        font-size: 1.6rem;
        line-height: 28px;
    }

    .home-page button {
        height: 242px;
        width: 242px;
    }
}

@media screen and (min-width: 1280px) {
    .home-page {
        background-image: url(../../assets/home/background-home-desktop.jpg);
    }

    .home-page h2 {
        font-size: 2.8rem;
        letter-spacing: 4.42px;
    }

    .home-page h1 {
        line-height: auto;
    }

    .home-page p {
        font-size: 1.8rem;
        line-height: 32px;
    }

    .home-page button {
        height: 274px;
        width: 274px;
    }
}