.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
    padding: 24px;
    width: 40px;
}

.burger {
    height: 2.1rem;
    margin: 33px 25px;
    width: 2.4rem;
}